# docker run -d --gpus all -v ./PHOENIX2014T:/app/PHOENIX2014T signformer
# then connect to the container via Connect to running container VSCode command

version: "3.9" # Use Docker Compose file version 3.9 to support 'gpus'
services:
  signformer-pedro:
    build:
      context: . # Build context is the current directory
      dockerfile: Dockerfile # Name of the Dockerfile
    image: signformer # Tag the built image as 'signformer'
    container_name: signformer-pedro # Set the container name to 'signformer'
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
    volumes:
      # mount the PHOENIX2014T dataset to the container
      - /mnt/disk3Tb/exported-slt-datasets:/app/PHOENIX2014T
      # mount the Signformer repository to the container
      - /home/pdalbianco/Github/Signformer:/app/Signformer
